*/.svn
.svn/
bin/
obj/
.vs
packages/
Log/
PublishOutput/
Tejianyuan/tjy_nj/
Tejianyuan/tjy_wx/
Tejianyuan/tjy_sz/
Tejianyuan/tjy_changsha/
ProjDemo/
CannyIot/DTrms.UI/DTrms.UI/wwwroot/lib/
CannyIot/DTrms.UI/DTrms.UI/Files/
CannyIot/DTrms.UI/DTrms.UI/mobile2/.vscode/
CannyIot/DTrms.UI/DTrms.UI/upload/

